body {
    background-size: cover;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    color: white;
    padding-top: 100px;
    padding-bottom: 150px;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 18px;
    margin: 10px 0;
}

.map-image {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    /* max-width: 200px; */
    height: 40%;
    z-index: 10;
    pointer-events: none;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}
